* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.navbar nav ul {
  display: inline-block;
  list-style: none;
}

.navbar nav li {
  display: inline-block;
  margin-right: 20px;
}

.navbar nav li a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}
