* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.navbar nav ul {
  display: inline-block;
  list-style: none;
}

.navbar nav li {
  display: inline-block;
  margin-right: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 300px;
}

.col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

.btn:hover {
  background-color: #563434;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .row .col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 300px;
}

.container .row .col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.container .row .col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.container .row .col-2 .btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

.container .row .col-2 .btn:hover {
  background-color: #563434;
}

.header {
  background: radial-gradient(#fff, #f7e99a);
}

.categories {
  margin: 70px 0;
}

.categories .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.categories .col-3 img {
  width: 100%;
}

.small-container {
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.small-container .title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.small-container .title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.small-container .col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.small-container .col-4:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.small-container .col-4 img {
  width: 100%;
}

.small-container .col-4 p {
  font-size: 14px;
}

.small-container .col-4 .rating img {
  width: 14px;
  height: 14px;
  color: #ff523b;
}

h4 {
  color: #555;
  font-weight: normal;
}

.offer {
  background: radial-gradient(#fff, #f7e99a);
  margin-top: 80px;
  padding: 30px 0;
}

.offer .offer-img {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.offer small {
  color: #555;
}

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.testimonial .col-3:hover {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 10px;
}

.testimonial .rating img {
  width: 14px;
  height: 14px;
  color: #ff523b;
}

.testimonial h1 {
  -webkit-transform: translateY(15.5px);
          transform: translateY(15.5px);
  font-size: 35px;
  color: #ff523b;
}

.brands {
  margin: 100px auto;
}

.brands .col-5 {
  width: 160px;
}

.brands .col-5 img {
  width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.brands .col-5 img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.footer {
  width: 100%;
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin: 0 0 20px 0;
}

.footer .footer-col-1, .footer .footer-col-2, .footer .footer-col-3, .footer .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer .footer-col-1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer .footer-col-1 .app-logo {
  margin-top: 20px;
}

.footer .footer-col-1 .app-logo img {
  width: 140px;
  cursor: progress;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-col-1 .app-logo img:hover {
  -webkit-transform: translate(5px);
          transform: translate(5px);
}

.footer .footer-col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.footer .footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer .footer-col-3, .footer .footer-col-4 {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  text-align: center;
}

.footer ul {
  list-style: none;
  cursor: alias;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.footer .copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.row-2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto 50px;
}

.row-2 select {
  border: 1px solid #ff523b;
  border-radius: 20px;
  padding: 5px;
}

.row-2 select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 2.5px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: crosshair;
}

.page-btn span:hover {
  background-color: #ff523b;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    text-align: center;
    width: 100%;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
  nav ul li {
    width: 100%;
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
