* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Dosis', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;

    nav {
        flex: 1;
        text-align: right;

        ul {
            display: inline-block;
            list-style: none;
        }

        li {
            display: inline-block;
            margin-right: 20px;
            
        }
    }
}
.row {
    display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
}
a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.7s;

        &:hover {
                background-color: #563434;
            }
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

        .col-2 {
            flex-basis: 50%;
            min-width: 300px;

            img {
                max-width: 100%;
                padding: 50px 0;
            }

            h1 {
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0;
            }
            .btn {
                display: inline-block;
                background: #ff523b;
                color: #fff;
                padding: 8px 30px;
                margin: 30px 0;
                border-radius: 30px;
                transition: background 0.7s;

                &:hover {
                    background-color: #563434;
                }
            }
        }
    }
}


.header {
    background: radial-gradient(#fff, #f7e99a);
}

.categories {
    margin: 70px 0;

    .col-3 {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

    .title {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #555;

        &::after {
            content: '';
            background: #ff523b;
            width: 80px;
            height: 5px;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .col-4 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.8s ease;

        &:hover {
            transform: translateY(-6px);
        }

        img {
            width: 100%;
        }

        p {
            font-size: 14px;
        }
        .rating {
            // display: flex;

            img {
                width: 14px;
                height: 14px;
                color: #ff523b;
            }
        }
    }
}

h4 {
    color: #555;
    font-weight: normal;
}

.offer {
    background: radial-gradient(#fff, #f7e99a);
    margin-top: 80px;
    padding: 30px 0;

    .offer-img {
        width: 100%;
        height: 100%;
        padding: 50px;
    }

    small {
        color: #555;
    }
}

.testimonial {
    padding-top: 100px;

    .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: transform 0.5s;

        &:hover {
            transform: translateY(9px);
        }

        img {
            width: 50px;
            margin-top: 20px;
            border-radius: 50%;
        }
        p {
            font-size: 12px;
            margin: 12px 0;
            color: #777;
        }
        h3 {
            font-weight: 600;
            color: #555;
            font-size: 10px;
        }
    }

    .rating {

        img {
                width: 14px;
                height: 14px;
                color: #ff523b;
            }
    }
    h1 {
        transform: translateY(15.5px);
        font-size: 35px;
        color: #ff523b;
    }
}

// BRANDS
.brands {
    margin: 100px auto;

    .col-5 {
        width: 160px;

        img {
            width: 100%;
            cursor: pointer;
            filter: grayscale(100%);
            transition: 0.5s ease;

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

// FOOTER
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

    p {
        color: #8a8a8a;
    }
    h3 {
        color: #fff;
        margin: 0 0 20px 0;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
        min-width: 250px;
        margin-bottom: 20px;
    }
    .footer-col-1 {
        flex-basis: 30%;

        .app-logo {
            margin-top: 20px;

            img {
                width: 140px;
                cursor: progress;
                transition: 0.3s;

                &:hover {
                    transform: translate(5px);
                }
            }
        }
    }
    .footer-col-2 {
        flex: 1;
        text-align: center;

        img {
            width: 180px;
            margin-bottom: 20px;
        }
    }
    .footer-col-3, .footer-col-4 {
        flex-basis: 12%;
        text-align: center;
    }
    ul {
        list-style: none;
        cursor: alias;
    }
    hr {
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }
    .copyright {
        text-align: center;
    }
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

// MEDIA QUERY MENU

@media only screen and (max-width: 800px){
    nav {
        ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: #333;
            text-align: center;
            width: 100%;
            overflow: hidden;
            transition: max-height 1s;

            li {
                width: 100%;
                display: block;
                margin-right: 50px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        a {
            color: #fff;
        }
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

// Media FOr 600 SCREEN SIZE
@media only screen and (max-width: 600px){
    .row {
        text-align: center;
    }

    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
}
